#LaTeX
*.gz
*.dvi
*.aux
*.log
*.toc
*.lot
*.swp
*.out
*.lof
*.cb*

.gradle
build/*

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea/*